$blue: #92b4ec;
$pastel-yellow: #ffe69a;
$yellow: #ffd24c;

#hover-button {
  align-items: center;
  background-color: black;
  border: 2px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:after {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
  }

  &:hover {
    &:after {
      transform: translate(0, 0);
    }
    outline: 0;
  }

  &:active {
    color: black;
    background-color: $yellow;
    outline: 0;
  }
}
